body{
    background:#f5f7fb;
    font-family: "Segoe UI", sans-serif;
}

a{
    text-decoration:none;
}

.card{
    border-radius:18px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.btn{
    border-radius:10px;
}

.table{
    margin-bottom:0;
}

.table thead{
    background:#6C63FF;
    color:white;
}

.table-hover tbody tr:hover{
    background:#f5f3ff;
}